<a href="https://colab.research.google.com/github/robert-shepherd/fpl/blob/main/Project_creating_model_history_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Creating model history file


---

The purpose of this script is to combine data from previous FPL seasons (18/19 and 19/20) with the latest data available for this season (GW11 for 20/21).

Data sources:
* Latest season: FPL API
* Historic seasons: User Github: https://github.com/vaastav/Fantasy-Premier-League

Output:
* Data is downloaded and subsequently saved to: https://raw.githubusercontent.com/robert-shepherd/fpl/main/fpl_combined_data.csv

In [1]:
#Loading libraries
import pandas as pd
import requests
from google.colab import files

## Reading in historical data from the API

In [24]:
#Import data from API
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r = requests.get(url)
json = r.json()
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [25]:
#Create a dataframe of live elements
elements_df = pd.DataFrame(json['elements'])

In [33]:
#Loop through history and create a file
for x in elements_df.index :
    element_id = elements_df.id[x]
    url = f'https://fantasy.premierleague.com/api/element-summary/{element_id}/'
    r = requests.get(url)
    json = r.json()
    json_history_df = pd.DataFrame(json['history'])
    
    if x == 0 :
        all_history_df = json_history_df
    else : 
        all_history_df = all_history_df.append(json_history_df)

In [34]:
all_history_df.shape

(6799, 31)

In [35]:
all_history_df.head()

   element  fixture  opponent_team  ...  selected  transfers_in transfers_out
0        1        2              8  ...     76656             0             0
1        1        9             19  ...     68335           995         17823
2        1       23             11  ...     59793           675         12126
3        1       29             15  ...     56403           647          5971
4        1       44             12  ...     53689           616          4840

[5 rows x 31 columns]

In [38]:
all_history_df.dtypes

element                int64
fixture                int64
opponent_team          int64
total_points           int64
was_home                bool
kickoff_time          object
team_h_score         float64
team_a_score         float64
round                  int64
minutes                int64
goals_scored           int64
assists                int64
clean_sheets           int64
goals_conceded         int64
own_goals              int64
penalties_saved        int64
penalties_missed       int64
yellow_cards           int64
red_cards              int64
saves                  int64
bonus                  int64
bps                    int64
influence             object
creativity            object
threat                object
ict_index             object
value                  int64
transfers_balance      int64
selected               int64
transfers_in           int64
transfers_out          int64
dtype: object

## Pulling in historic data

In [47]:
url_1819 = 'https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2018-19/gws/merged_gw.csv'
url_1920 = 'https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2019-20/gws/merged_gw.csv'

df_1819 = pd.read_csv(url_1819, encoding='latin-1')
df_1920 = pd.read_csv(url_1920, encoding='latin-1')

In [48]:
df_1819.head()

                    name  assists  ...  yellow_cards  GW
0    Aaron_Cresswell_402        0  ...             0   1
1        Aaron_Lennon_83        0  ...             0   1
2         Aaron_Mooy_199        0  ...             0   1
3        Aaron_Ramsey_14        0  ...             0   1
4  Aaron_Wan-Bissaka_145        1  ...             0   1

[5 rows x 56 columns]

In [49]:
df_1819.dtypes

name                                object
assists                              int64
attempted_passes                     int64
big_chances_created                  int64
big_chances_missed                   int64
bonus                                int64
bps                                  int64
clean_sheets                         int64
clearances_blocks_interceptions      int64
completed_passes                     int64
creativity                         float64
dribbles                             int64
ea_index                             int64
element                              int64
errors_leading_to_goal               int64
errors_leading_to_goal_attempt       int64
fixture                              int64
fouls                                int64
goals_conceded                       int64
goals_scored                         int64
ict_index                          float64
id                                   int64
influence                          float64
key_passes                           int64
kickoff_time                        object
kickoff_time_formatted              object
loaned_in                            int64
loaned_out                           int64
minutes                              int64
offside                              int64
open_play_crosses                    int64
opponent_team                        int64
own_goals                            int64
penalties_conceded                   int64
penalties_missed                     int64
penalties_saved                      int64
recoveries                           int64
red_cards                            int64
round                                int64
saves                                int64
selected                             int64
tackled                              int64
tackles                              int64
target_missed                        int64
team_a_score                         int64
team_h_score                         int64
threat                             float64
total_points                         int64
transfers_balance                    int64
transfers_in                         int64
transfers_out                        int64
value                                int64
was_home                              bool
winning_goals                        int64
yellow_cards                         int64
GW                                   int64
dtype: object

## Combining data sources

In [78]:
#Filtering out latest week for current season
df_2021 = all_history_df[all_history_df['round'] < 12].copy()
max(df_2021['round'])

11

In [79]:
#Retrieving column names from latest season
names = df_2021.columns
names

Index(['element', 'fixture', 'opponent_team', 'total_points', 'was_home',
       'kickoff_time', 'team_h_score', 'team_a_score', 'round', 'minutes',
       'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index', 'value', 'transfers_balance', 'selected',
       'transfers_in', 'transfers_out'],
      dtype='object')

In [80]:
#Filtering historic data to just columns available in latest data
df_1819_filtered = df_1819[names].copy()
df_1920_filtered = df_1920[names].copy()

In [81]:
#Adding season labels
df_1819_filtered['season'] = 2018
df_1920_filtered['season'] = 2019
df_2021['season'] = 2020

In [95]:
#Casting latest season influence, creativity, threat and ict_index to float
df_2021['influence'] = df_2021['influence'].astype(float)
df_2021['creativity'] = df_2021['creativity'].astype(float)
df_2021['threat'] = df_2021['threat'].astype(float)
df_2021['ict_index'] = df_2021['ict_index'].astype(float)
df_2021.dtypes

element                int64
fixture                int64
opponent_team          int64
total_points           int64
was_home                bool
kickoff_time          object
team_h_score         float64
team_a_score         float64
round                  int64
minutes                int64
goals_scored           int64
assists                int64
clean_sheets           int64
goals_conceded         int64
own_goals              int64
penalties_saved        int64
penalties_missed       int64
yellow_cards           int64
red_cards              int64
saves                  int64
bonus                  int64
bps                    int64
influence            float64
creativity           float64
threat               float64
ict_index            float64
value                  int64
transfers_balance      int64
selected               int64
transfers_in           int64
transfers_out          int64
season                 int64
dtype: object

In [101]:
#Combining datasets
combined_df = pd.concat([df_1819_filtered, df_1920_filtered, df_2021]).copy()

## Checking new dataset before outputting

In [107]:
#Checking new dataset
combined_df.head()

   element  fixture  opponent_team  ...  transfers_in  transfers_out season
0      402        5             12  ...             0              0   2018
1       83        8             16  ...             0              0   2018
2      199        4              6  ...             0              0   2018
3       14        1             13  ...             0              0   2018
4      145        3              9  ...             0              0   2018

[5 rows x 32 columns]

In [108]:
#Checking new dataset

combined_df.dtypes

element                int64
fixture                int64
opponent_team          int64
total_points           int64
was_home                bool
kickoff_time          object
team_h_score         float64
team_a_score         float64
round                  int64
minutes                int64
goals_scored           int64
assists                int64
clean_sheets           int64
goals_conceded         int64
own_goals              int64
penalties_saved        int64
penalties_missed       int64
yellow_cards           int64
red_cards              int64
saves                  int64
bonus                  int64
bps                    int64
influence            float64
creativity           float64
threat               float64
ict_index            float64
value                  int64
transfers_balance      int64
selected               int64
transfers_in           int64
transfers_out          int64
season                 int64
dtype: object

In [112]:
#Downloading dataset
combined_df.to_csv('fpl_combined_data.csv') 
files.download('fpl_combined_data.csv')