<a href="https://colab.research.google.com/github/robert-shepherd/fpl/blob/main/Project_1_creating_model_history_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Creating model history file


---

The purpose of this script is to combine data from previous FPL seasons (18/19 and 19/20) with the latest data available for this season (GW11 for 20/21).

Data sources:
* Latest season: FPL API: https://fantasy.premierleague.com/api
* Historic seasons: User Github: https://github.com/vaastav/Fantasy-Premier-League

Output:
* Data is downloaded and subsequently saved to: https://raw.githubusercontent.com/robert-shepherd/fpl/main/fpl_combined_data.csv

In [ ]:
# Loading libraries
import pandas as pd
import requests
from google.colab import files

## Reading in data from the API for the current season

### Create look up files from static API

In [ ]:
# Import data from API
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r = requests.get(url)
json = r.json()
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [ ]:
# Create a dataframe of live elements
elements = pd.DataFrame(json['elements'])
elements.head()

   chance_of_playing_next_round  ...  penalties_text
0                           0.0  ...
1                           0.0  ...
2                          75.0  ...
3                         100.0  ...
4                         100.0  ...

[5 rows x 67 columns]

In [ ]:
# Create a lookup from element to element_type
element_type_ref = elements[['id','element_type']]
element_type_ref.columns = ['element','element_type']
element_type_ref.head()

   element  element_type
0        1             3
1        2             2
2        3             2
3        4             3
4        5             2

In [ ]:
# Create a dataframe of element types to get position
element_types = pd.DataFrame(json['element_types'])
element_types.head()

   id  plural_name  ... sub_positions_locked element_count
0   1  Goalkeepers  ...                 [12]            71
1   2    Defenders  ...                   []           221
2   3  Midfielders  ...                   []           247
3   4     Forwards  ...                   []            77

[4 rows x 11 columns]

In [ ]:
# Extracting position from the element_types data
position = element_types[['id','singular_name_short']]
position.columns = ['element_type','position']
position.head()

   element_type position
0             1      GKP
1             2      DEF
2             3      MID
3             4      FWD

In [ ]:
# Create a dataframe of teams to get opponent strength
teams = pd.DataFrame(json['teams'])
teams.head()

   code  draw  form  ...  strength_defence_home  strength_defence_away pulse_id
0     3     0  None  ...                   1190                   1200        1
1     7     0  None  ...                   1180                   1210        2
2    36     0  None  ...                   1090                   1100      131
3    90     0  None  ...                   1010                   1030       43
4     8     0  None  ...                   1270                   1310        4

[5 rows x 21 columns]

In [ ]:
# Extracting opponent_strength from the teams data
opponents = teams[['id','strength']]
opponents.columns = ['opponent_team','opponent_strength']
opponents.head()

   opponent_team  opponent_strength
0              1                  4
1              2                  3
2              3                  3
3              4                  2
4              5                  4

### Looping over the elements API to create a history for current season

In [ ]:
# Loop through history and create a file
for x in elements.index :
    element_id = elements.id[x]
    url = f'https://fantasy.premierleague.com/api/element-summary/{element_id}/'
    r = requests.get(url)
    json = r.json()
    json_history = pd.DataFrame(json['history'])
    
    if x == 0 :
        history = json_history
    else : 
        history = history.append(json_history)

In [ ]:
# Checking records
history.head()

   element  fixture  opponent_team  ...  selected  transfers_in transfers_out
0        1        2              8  ...     76656             0             0
1        1        9             19  ...     68335           995         17823
2        1       23             11  ...     59793           675         12126
3        1       29             15  ...     56403           647          5971
4        1       44             12  ...     53689           616          4840

[5 rows x 31 columns]

In [ ]:
# Checking shape
history.shape

(9125, 31)

In [ ]:
# Checking columns and column types
history.dtypes

element               int64
fixture               int64
opponent_team         int64
total_points          int64
was_home               bool
kickoff_time         object
team_h_score          int64
team_a_score          int64
round                 int64
minutes               int64
goals_scored          int64
assists               int64
clean_sheets          int64
goals_conceded        int64
own_goals             int64
penalties_saved       int64
penalties_missed      int64
yellow_cards          int64
red_cards             int64
saves                 int64
bonus                 int64
bps                   int64
influence            object
creativity           object
threat               object
ict_index            object
value                 int64
transfers_balance     int64
selected              int64
transfers_in          int64
transfers_out         int64
dtype: object

In [ ]:
# Merging element type reference
history_type = pd.merge(history,element_type_ref,on='element')
history_type.head()

   element  fixture  opponent_team  ...  transfers_in  transfers_out element_type
0        1        2              8  ...             0              0            3
1        1        9             19  ...           995          17823            3
2        1       23             11  ...           675          12126            3
3        1       29             15  ...           647           5971            3
4        1       44             12  ...           616           4840            3

[5 rows x 32 columns]

In [ ]:
# Merging position type reference
history_pos = pd.merge(history_type,position,on='element_type')
history_pos.head()

   element  fixture  opponent_team  ...  transfers_out  element_type position
0        1        2              8  ...              0             3      MID
1        1        9             19  ...          17823             3      MID
2        1       23             11  ...          12126             3      MID
3        1       29             15  ...           5971             3      MID
4        1       44             12  ...           4840             3      MID

[5 rows x 33 columns]

In [ ]:
# Merging opposition difficulty
df_2021 = pd.merge(history_pos,opponents,on='opponent_team')

In [ ]:
# Checking 2021 data
df_2021.head()

   element  fixture  opponent_team  ...  element_type  position opponent_strength
0        1        2              8  ...             3       MID                 2
1        4        2              8  ...             3       MID                 2
2        9        2              8  ...             3       MID                 2
3       18        2              8  ...             3       MID                 2
4       19        2              8  ...             3       MID                 2

[5 rows x 34 columns]

In [ ]:
# Checking 2021 shape
df_2021.shape

(9125, 34)

In [ ]:
# Checking 2021 data types
df_2021.dtypes
# Note: some numeric fields set as objects, corrected below

element               int64
fixture               int64
opponent_team         int64
total_points          int64
was_home               bool
kickoff_time         object
team_h_score          int64
team_a_score          int64
round                 int64
minutes               int64
goals_scored          int64
assists               int64
clean_sheets          int64
goals_conceded        int64
own_goals             int64
penalties_saved       int64
penalties_missed      int64
yellow_cards          int64
red_cards             int64
saves                 int64
bonus                 int64
bps                   int64
influence            object
creativity           object
threat               object
ict_index            object
value                 int64
transfers_balance     int64
selected              int64
transfers_in          int64
transfers_out         int64
element_type          int64
position             object
opponent_strength     int64
dtype: object

In [ ]:
#Casting latest season influence, creativity, threat and ict_index to float
df_2021['influence'] = df_2021['influence'].astype(float)
df_2021['creativity'] = df_2021['creativity'].astype(float)
df_2021['threat'] = df_2021['threat'].astype(float)
df_2021['ict_index'] = df_2021['ict_index'].astype(float)
df_2021.dtypes

element                int64
fixture                int64
opponent_team          int64
total_points           int64
was_home                bool
kickoff_time          object
team_h_score           int64
team_a_score           int64
round                  int64
minutes                int64
goals_scored           int64
assists                int64
clean_sheets           int64
goals_conceded         int64
own_goals              int64
penalties_saved        int64
penalties_missed       int64
yellow_cards           int64
red_cards              int64
saves                  int64
bonus                  int64
bps                    int64
influence            float64
creativity           float64
threat               float64
ict_index            float64
value                  int64
transfers_balance      int64
selected               int64
transfers_in           int64
transfers_out          int64
element_type           int64
position              object
opponent_strength      int64
dtype: object

## Reading in data for previous seasons

### Preparing gameweek data

In [ ]:
# Reading in gameweek data from previous seasons
url_1819 = 'https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2018-19/gws/merged_gw.csv'
url_1920 = 'https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2019-20/gws/merged_gw.csv'

gw_1819 = pd.read_csv(url_1819, encoding='latin-1')
gw_1920 = pd.read_csv(url_1920, encoding='latin-1')

In [ ]:
# Checking 1819 data
gw_1819.head()

                    name  assists  ...  yellow_cards  GW
0    Aaron_Cresswell_402        0  ...             0   1
1        Aaron_Lennon_83        0  ...             0   1
2         Aaron_Mooy_199        0  ...             0   1
3        Aaron_Ramsey_14        0  ...             0   1
4  Aaron_Wan-Bissaka_145        1  ...             0   1

[5 rows x 56 columns]

In [ ]:
# Checking 1819 shape
gw_1819.shape

(21790, 56)

In [ ]:
# Checking 1920 data
gw_1920.head()

                    name  assists  bonus  ...  was_home  yellow_cards  GW
0    Aaron_Cresswell_376        0      0  ...      True             0   1
1       Aaron_Lennon_430        0      0  ...      True             0   1
2         Aaron_Mooy_516        0      0  ...     False             0   1
3     Aaron_Ramsdale_494        0      0  ...      True             0   1
4  Aaron_Wan-Bissaka_122        0      2  ...      True             0   1

[5 rows x 33 columns]

In [ ]:
# Checking 1920 shape
gw_1920.shape

(22560, 33)

### Preparing player data

In [ ]:
# Reading in player data from previous seasons
player_url_1819 = 'https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2018-19/players_raw.csv'
player_url_1920 = 'https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2019-20/players_raw.csv'

player_1819 = pd.read_csv(player_url_1819, encoding='latin-1')
player_1920 = pd.read_csv(player_url_1920, encoding='latin-1')

In [ ]:
# Create a lookup from element to element_type
player_1819_ref = player_1819[['id','element_type']]
player_1819_ref.columns = ['element','element_type']
player_1819_ref.head()

   element  element_type
0        1             1
1        2             1
2        3             2
3        4             2
4        5             2

In [ ]:
# Create a lookup from element to element_type
player_1920_ref = player_1920[['id','element_type']]
player_1920_ref.columns = ['element','element_type']
player_1920_ref.head()

   element  element_type
0        1             2
1        2             2
2        3             2
3        4             2
4        5             2

### Preparing opponent data

In [ ]:
# Reading in teams data from 1819 season
teams_url_1920 = 'https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2019-20/teams.csv'
teams_1920 = pd.read_csv(teams_url_1920, encoding='latin-1')
teams_1920.head()

# Note: teams file for 1819 unavailable so needs to be read from historic JSON file

   code  draw  form  id  ...  strength_overall_home team_division  unavailable  win
0     3     0   NaN   1  ...                   1180           NaN        False    0
1     7     0   NaN   2  ...                   1020           NaN        False    0
2    91     0   NaN   3  ...                   1020           NaN        False    0
3    36     0   NaN   4  ...                   1050           NaN        False    0
4    90     0   NaN   5  ...                   1110           NaN        False    0

[5 rows x 21 columns]

In [ ]:
# Extracting opponent_strength from the teams data
opponents_1920 = teams_1920[['id','strength']]
opponents_1920.columns = ['opponent_team','opponent_strength']
opponents_1920.head()

   opponent_team  opponent_strength
0              1                  4
1              2                  2
2              3                  2
3              4                  2
4              5                  3

In [ ]:
# Import data from raw JSON file
url = 'https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2018-19/raw.json'
r = requests.get(url)
json = r.json()
json.keys()

dict_keys(['stats', 'next-event', 'teams', 'element_types', 'elements', 'last-entry-event', 'stats_options', 'game-settings', 'current-event', 'next_event_fixtures', 'phases', 'events', 'total-players'])

In [ ]:
# Create a dataframe of teams to get opponent strength
teams_1819 = pd.DataFrame(json['teams'])
teams_1819.head()

   strength_defence_home  team_division  position  ...  short_name  points  link_url
0                   1310              1         0  ...         ARS       0
1                   1120              1         0  ...         BOU       0
2                   1010              1         0  ...         BHA       0
3                   1000              1         0  ...         BUR       0
4                   1020              1         0  ...         CAR       0

[5 rows x 23 columns]

In [ ]:
# Extracting opponent_strength from the teams data
opponents_1819 = teams_1819[['id','strength']]
opponents_1819.columns = ['opponent_team','opponent_strength']
opponents_1819.head()

   opponent_team  opponent_strength
0              1                  4
1              2                  3
2              3                  2
3              4                  3
4              5                  2

### Merging previous season data

#### 1819

In [ ]:
# Merging element type reference
history_1819_type = pd.merge(gw_1819,player_1819_ref,on='element')

# Merging position type reference
history_1819_pos = pd.merge(history_1819_type,position,on='element_type')
history_1819_pos.head()
# Note: position references are consistent across seasons

# Merging opposition difficulty
df_1819 = pd.merge(history_1819_pos,opponents_1819,on='opponent_team')

In [ ]:
# Checking 1819 data
df_1819.head()

                    name  assists  ...  position  opponent_strength
0    Aaron_Cresswell_402        0  ...       DEF                  5
1    Aaron_Cresswell_402        0  ...       DEF                  5
2  Aaron_Wan-Bissaka_145        0  ...       DEF                  5
3  Aaron_Wan-Bissaka_145        0  ...       DEF                  5
4        Adam_Masina_386        0  ...       DEF                  5

[5 rows x 59 columns]

In [ ]:
# Checking 1819 shape
df_1819.shape

(21790, 59)

In [ ]:
# Checking 1819 data types
df_1819.dtypes

name                                object
assists                              int64
attempted_passes                     int64
big_chances_created                  int64
big_chances_missed                   int64
bonus                                int64
bps                                  int64
clean_sheets                         int64
clearances_blocks_interceptions      int64
completed_passes                     int64
creativity                         float64
dribbles                             int64
ea_index                             int64
element                              int64
errors_leading_to_goal               int64
errors_leading_to_goal_attempt       int64
fixture                              int64
fouls                                int64
goals_conceded                       int64
goals_scored                         int64
ict_index                          float64
id                                   int64
influence                          float64
key_passes                           int64
kickoff_time                        object
kickoff_time_formatted              object
loaned_in                            int64
loaned_out                           int64
minutes                              int64
offside                              int64
open_play_crosses                    int64
opponent_team                        int64
own_goals                            int64
penalties_conceded                   int64
penalties_missed                     int64
penalties_saved                      int64
recoveries                           int64
red_cards                            int64
round                                int64
saves                                int64
selected                             int64
tackled                              int64
tackles                              int64
target_missed                        int64
team_a_score                         int64
team_h_score                         int64
threat                             float64
total_points                         int64
transfers_balance                    int64
transfers_in                         int64
transfers_out                        int64
value                                int64
was_home                              bool
winning_goals                        int64
yellow_cards                         int64
GW                                   int64
element_type                         int64
position                            object
opponent_strength                    int64
dtype: object

#### 1920

In [ ]:
# Merging element type reference
history_1920_type = pd.merge(gw_1920,player_1920_ref,on='element')

# Merging position type reference
history_1920_pos = pd.merge(history_1920_type,position,on='element_type')
history_1920_pos.head()
# Note: position references are consistent across seasons

# Merging opposition difficulty
df_1920 = pd.merge(history_1920_pos,opponents_1920,on='opponent_team')

In [ ]:
# Checking 1920 data
df_1920.head()

                    name  assists  ...  position  opponent_strength
0    Aaron_Cresswell_376        0  ...       DEF                  5
1    Aaron_Cresswell_376        0  ...       DEF                  5
2  Aaron_Wan-Bissaka_122        0  ...       DEF                  5
3  Aaron_Wan-Bissaka_122        0  ...       DEF                  5
4        Adam_Masina_355        0  ...       DEF                  5

[5 rows x 36 columns]

In [ ]:
# Checking 1920 shape
df_1920.shape

(22560, 36)

In [ ]:
# Checking 1920 data types
df_1920.dtypes

name                  object
assists                int64
bonus                  int64
bps                    int64
clean_sheets           int64
creativity           float64
element                int64
fixture                int64
goals_conceded         int64
goals_scored           int64
ict_index            float64
influence            float64
kickoff_time          object
minutes                int64
opponent_team          int64
own_goals              int64
penalties_missed       int64
penalties_saved        int64
red_cards              int64
round                  int64
saves                  int64
selected               int64
team_a_score         float64
team_h_score         float64
threat               float64
total_points           int64
transfers_balance      int64
transfers_in           int64
transfers_out          int64
value                  int64
was_home                bool
yellow_cards           int64
GW                     int64
element_type           int64
position              object
opponent_strength      int64
dtype: object

## Combining across seasons

In [ ]:
# Filtering out latest week for current season (at time of export)
df_2021 = df_2021[df_2021['round'] < 12].copy()
max(df_2021['round'])

11

In [ ]:
# Retrieving column names from latest season
names = df_2021.columns
names

Index(['element', 'fixture', 'opponent_team', 'total_points', 'was_home',
       'kickoff_time', 'team_h_score', 'team_a_score', 'round', 'minutes',
       'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index', 'value', 'transfers_balance', 'selected',
       'transfers_in', 'transfers_out', 'element_type', 'position',
       'opponent_strength'],
      dtype='object')

In [ ]:
# Filtering historic data to just columns available in latest data
df_1819_filtered = df_1819[names].copy()
df_1920_filtered = df_1920[names].copy()

In [ ]:
# Adding season labels
df_1819_filtered['season'] = 2018
df_1920_filtered['season'] = 2019
df_2021['season'] = 2020

In [ ]:
# Combining datasets
combined = pd.concat([df_1819_filtered, df_1920_filtered, df_2021]).copy()

## Checking new dataset before outputting

In [ ]:
# Checking new dataset
combined.head()

   element  fixture  opponent_team  ...  position  opponent_strength season
0      402        5             12  ...       DEF                  5   2018
1      402      250             12  ...       DEF                  5   2018
2      145       15             12  ...       DEF                  5   2018
3      145      225             12  ...       DEF                  5   2018
4      386      128             12  ...       DEF                  5   2018

[5 rows x 35 columns]

In [ ]:
# Checking shape
combined.shape

(50545, 35)

In [ ]:
# Checking values are distinct at season, element, round and fixture level
combined.groupby(['season', 'element', 'round', 'fixture']).ngroups
# Note: as this mirrors the total amount of rows above I am satisfied that this is distinct at the right level

50545

In [ ]:
# Checking combined data types
combined.dtypes

element                int64
fixture                int64
opponent_team          int64
total_points           int64
was_home                bool
kickoff_time          object
team_h_score         float64
team_a_score         float64
round                  int64
minutes                int64
goals_scored           int64
assists                int64
clean_sheets           int64
goals_conceded         int64
own_goals              int64
penalties_saved        int64
penalties_missed       int64
yellow_cards           int64
red_cards              int64
saves                  int64
bonus                  int64
bps                    int64
influence            float64
creativity           float64
threat               float64
ict_index            float64
value                  int64
transfers_balance      int64
selected               int64
transfers_in           int64
transfers_out          int64
element_type           int64
position              object
opponent_strength      int64
season                 int64
dtype: object

In [ ]:
#Downloading dataset
combined.to_csv('fpl_combined_data.csv',index=False) 
files.download('fpl_combined_data.csv')

File downloaded to local machine and uploaded to GitHub